* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-image: url("https://res.cloudinary.com/dy3natzfk/image/upload/v1684935664/bacco_zjzpji.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

